nav {
  display: flex;
  background-color: #cdd1df;
  align-items: center;
  height: 6rem;
  box-shadow: 0px 3px 4px grey;
}
nav .logo img {
  width: 3rem;
}
nav .logo-name {
  font-size: 30px;
}
nav .LOGO {
  flex: 1;
  display: inherit;
  margin-left: 2rem;
  align-items: baseline;
}
nav .LOGO h1::before {
  content: "Hinga";
  color: #46459E;
}
nav .SEARCH-CONTAINER {
  flex: 4;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  height: 100%;
}
nav .SEARCH-CONTAINER .search-bar {
  background-color: rgba(195, 199, 216, 0.8078431373);
  width: 20rem;
  height: 3rem;
  border-radius: 15px;
  border: none;
  outline: none;
  padding: 0 16px;
}
nav .NAVBAR-ITEMS {
  flex: 1;
  margin-right: 6rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
nav .NAVBAR-ITEMS ul {
  display: flex;
  align-items: center;
  justify-self: center;
}
nav .NAVBAR-ITEMS ul li {
  text-decoration: none;
  list-style: none;
}
nav .NAVBAR-ITEMS select {
  -webkit-appearance: unset;
     -moz-appearance: unset;
          appearance: unset;
  outline: 0;
  box-shadow: none;
  border: none;
  background: #cdd1df;
  background-image: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-family: Inter, Verdana;
}
nav .NAVBAR-ITEMS select .select-nav {
  display: flex;
  line-height: 3;
  font-weight: bolder;
}
nav .NAVBAR-ITEMS select .select:hover::after {
  color: #23b499;
}
nav .NAVBAR-ITEMS select:focus, nav .NAVBAR-ITEMS select:hover {
  outline: none;
  transform: scale(1.05);
  color: rgb(59, 58, 58);
}
nav .NAVBAR-ITEMS select option {
  background-color: #cdd1df;
}

body {
  background-color: #cdd1df;
}
body .container {
  display: flex;
  background-color: rgba(195, 199, 216, 0.8078431373);
}
body .main-body {
  flex: 3;
  display: flex;
  flex-direction: column;
  text-align: start;
  box-shadow: 0 1px 3px #212125;
  border-radius: 10px;
  width: 30rem;
  background-color: rgba(255, 0, 0, 0.253);
  margin: 1rem 3rem;
  padding: 2rem;
}
body .main-body .zoom {
  color: rgba(115, 0, 255, 0.959);
  margin-top: 1.5rem;
  padding: 4rem;
  border-radius: 10px;
  background-color: rgba(35, 180, 153, 0.2549019608);
  background-position: center;
  background-size: cover;
  background-image: url("./assets/umuhinzi_1.png");
  transition: all 0.2s;
}
body .main-body .zoom .hidden-logo {
  position: static;
  bottom: 0rem;
  right: 0rem;
}
body .main-body .zoom .hidden-logo img {
  width: 8rem;
  opacity: 0.5;
}
body .main-body:hover .zoom, body .main-body:focus .zoom {
  transform: scale(1.02);
}
body .main-body .body-header {
  display: flex;
  padding-left: 1rem;
}
body .main-body .body-items {
  margin-left: 1rem;
  margin-top: 0.5rem;
}
body .main-body .body-items li::marker {
  font-size: 1.4rem;
  color: #23b499;
}
body .side-body {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: start;
  background-color: rgba(195, 199, 216, 0.8078431373);
  border: 1px solid 1px;
  padding: 1rem;
}
body .side-body .body-header {
  display: flex;
  padding-left: 1rem;
}
body .side-body .body-items {
  margin-top: 0.5rem;
  margin-left: -1.2rem;
}
body .side-body .body-items li {
  color: rgba(78, 78, 78, 0.699);
  font-size: small;
  font-weight: 600;
  list-style: none;
  margin: 1rem;
}
body .side-bar1 {
  flex: 1;
  display: flex;
  border-right: 1px solid rgba(128, 128, 128, 0.397);
}
body .side-bar2 {
  flex: 1;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-left: 1px solid rgba(128, 128, 128, 0.397);
}
body .side-bar2 .body-header {
  display: flex;
  font-size: 15px;
}
body .side-bar2 .profile-container {
  display: block;
  padding: 1rem;
  justify-content: center;
}
body .side-bar2 .profile-container .profile {
  height: 10rem;
  width: 10rem;
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cdd1df;
}
body .side-bar2 .profile-container .profile img {
  width: 10rem;
  background-color: #46459E;
}
body .side-bar2 .profile-container .username {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
body .side-bar2 .profile-container .username h1 {
  font-size: medium;
}

.card-container {
  position: relative;
  display: block;
  margin: auto;
  width: 18rem;
  background-color: #363740;
  height: 42rem;
  border-radius: 10px;
}
.card-container header {
  position: inherit;
  padding: unset;
  height: 16rem;
}
.card-container header .profile-picture {
  position: inherit;
  height: 100%;
  width: auto;
}
.card-container header .profile-picture img {
  border-radius: 10px 10px 0 0;
  height: 100%;
  width: 100%;
}
.card-container .info {
  display: flex;
  color: whitesmoke;
  flex-direction: column;
  line-height: 2px;
  height: 2rem;
  align-items: center;
  height: 100%;
  margin: 1em 0 1em 0;
  line-height: 1px;
}
.card-container .info h1 {
  font-size: 30px;
}
.card-container .info h2 {
  font-size: 15px;
}
.card-container .info h3 {
  font-size: 13px;
}
.card-container .links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
}
.card-container .links button {
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 5px;
  width: 9em;
  height: 2em;
  margin: 0 0.5em;
  border: none;
  outline: none;
}
.card-container .links button:last-child {
  background-color: rgb(109, 133, 236);
  color: whitesmoke;
  padding: 5px;
}
.card-container .about {
  padding: 0 1.5rem;
  display: block;
  text-align: start;
  font-size: 16px;
}
.card-container .about p {
  font-size: 15px;
  margin-top: -1em;
}
.card-container .interests {
  padding: 0 1.5rem;
  display: block;
  text-align: start;
  font-size: 16px;
}
.card-container .interests p {
  font-size: 15px;
  margin-top: -1em;
}
.card-container footer {
  display: flex;
  color: whitesmoke;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(2, 2, 58);
  height: 3rem;
  border-radius: 0 0 10px 10px;
  padding: 0 10px;
}

* {
  font-family: Inter, sans-serif;
}

html {
  background-color: #cdd1df;
}/*# sourceMappingURL=style.css.map */